<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hogwarts</title>
  <link rel="stylesheet" href="./styles.css">
</head>
<body>
  <nav class="link">
  </nav>
  <%= yield %>
</body>
</html>